.App {
  text-align: center;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
width: 50%;
}

.sameline {
    width: 100%;
    margin-left: 10px;
    padding-bottom: 15px;
}

img.left{
  float: left;
}

textarea.box{
  width: 50%;
  padding: 12px;
  margin-top: 6px;
  font-size:16px;
  display: inline-block;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin-right: 5pt;
  margin-left: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;

}

textarea{
  white-space:pre-wrap;
}

.textformat{
  white-space:pre-wrap;
}

.formatpage {
    width: 100%;
    margin-left: 10px;
}

input[type=text]{
  width: 50%;
  padding: 12px;
  margin-top: 6px;
  font-size:16px;
  display: inline-block;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin-right: 5pt;
}

input[type=Date]{
  width: 50%;
  padding: 12px;
  margin-top: 6px;
  font-size:16px;
  display: inline-block;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin-right: 5pt;
}

.submit{
  width: 50%;
  padding: 12px;
  margin-top: 6px;
  font-size:16px;
  display: inline-block;
  border: 1px solid lightgray;
  box-sizing: border-box;
  margin-right: 5pt;
}


.format{
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  background-color: white;
  width: 50%;
  margin-top: 20px;
}

.column{
  width: 14%;
  float: left;
  margin-top: 10px;
}

.column1{
  width: 86%;
  float: right;
  font-size: 30px;
}

.row:after{
  content:"";
  display: table;
  clear: both;
}

.rowtitle{
  content:"";
  display: table;
  clear: both;
}

.invoiceformat{
  color: #00ace6;
  margin-top: 280px;
}

.button {
  background-color: Teal;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
